In [1]:
import pandas as pd
import random
from google.colab import drive

## **Pre processing of datasets downloaded from different data sources**
# **Synthea datasets**

The datasets come in 7 different folders: Cumbria, Essex, Fife, Kent, Norfolk, Somerset, Wiltshire.
Each folder is retrived independently using the code below.

In [ ]:
S_PATH = "/content/drive/MyDrive/KGE_project/synthea_csv/gb/WILTSHIRE/output/csv/"

In [42]:
OUTPATH = "/content/drive/MyDrive/KGE_project/dataset_final/"

In [2]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Take each dataset and select only the useful information, chosen during the informal modeling phase of iTelos.

Datasets: 


1.   immunizations
2.   allergies
3.   encounters
4.   organizations
5.   people
6.   providers (doctors)

IMMUNIZATIONS

In [ ]:
immunizations = pd.read_csv(S_PATH + "immunizations.csv")

In [ ]:
immunizations = immunizations.drop(["BASE_COST"], axis = 1)

In [ ]:
date = immunizations.columns[0]
immunizations[date] = immunizations[date].apply(lambda x: x.replace("T", ""))
immunizations[date] = immunizations[date].apply(lambda x: x.replace("Z", ""))
immunizations[date] = pd.to_datetime(immunizations[date], format='%Y-%m-%d%H:%M:%S')

In [ ]:
immunizations["CODE_DATE_PATIENT"] = immunizations["CODE"].astype(str) + immunizations["DATE"].astype(str) + immunizations["PATIENT"]

In [ ]:
immunizations[1:5]

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,CODE_DATE_PATIENT
1,2014-08-30 00:07:25,4ae0b461-7268-10c5-09f6-3360a8a103b3,5c8344f3-9cf9-03d6-bd25-5a77a0a002ae,8,Hep B adolescent or pediatric,82014-08-30 00:07:254ae0b461-7268-10c5-09f6-33...
2,2013-02-26 20:07:01,70d89d44-87cb-a331-bba2-b6912b41f94f,cc69ec8f-9176-a5bb-d27f-5a041e88edfa,140,Influenza seasonal injectable preservative ...,1402013-02-26 20:07:0170d89d44-87cb-a331-bba2-...
3,2013-10-08 18:12:00,19ae0138-ad35-b22b-c3a2-a8302e245827,cd4a8637-b30d-50a4-24e5-4214f1921840,140,Influenza seasonal injectable preservative ...,1402013-10-08 18:12:0019ae0138-ad35-b22b-c3a2-...
4,2014-11-01 00:07:25,4ae0b461-7268-10c5-09f6-3360a8a103b3,da377751-a2a8-2720-d970-ec306966eb63,49,Hib (PRP-OMP),492014-11-01 00:07:254ae0b461-7268-10c5-09f6-3...

In [ ]:
immunizations["CODE_DATE_PATIENT"].shape[0] == len(set(immunizations["CODE_DATE_PATIENT"]))

True

Save the modified dataset in a csv format

In [ ]:
#immunizations.to_csv(OUTPATH + "immunizations.csv", index = False)

After the first run, the new dataframes from different countries are appended to the already existing one (with the code below) to compose one unique 'immunizations' (or else) file.
To do so comment out the prior line and execute the following one.

In [ ]:
immunizations.to_csv(OUTPATH + "immunizations.csv", mode = "a", index = False, header = False)

ALLERGIES

In [ ]:
allergies = pd.read_csv(S_PATH + "allergies.csv")

In [ ]:
allergies[1:5]

,START,STOP,PATIENT,ENCOUNTER,CODE,SYSTEM,DESCRIPTION,TYPE,CATEGORY,REACTION1,DESCRIPTION1,SEVERITY1,REACTION2,DESCRIPTION2,SEVERITY2
1,2016-09-21,NaN,2f944554-6386-0057-547f-e1313d2aaeb0,b2be3117-0405-3593-bc8d-bcfd277a3a2a,260147004,SNOMED-CT,House dust mite (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-09-21,NaN,2f944554-6386-0057-547f-e1313d2aaeb0,b2be3117-0405-3593-bc8d-bcfd277a3a2a,264287008,SNOMED-CT,Animal dander (substance),allergy,environment,878820003.0,Rhinoconjunctivitis (disorder),MODERATE,271807003.0,Eruption of skin (disorder),MILD
3,2016-09-21,NaN,2f944554-6386-0057-547f-e1313d2aaeb0,b2be3117-0405-3593-bc8d-bcfd277a3a2a,782576004,SNOMED-CT,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-09-21,NaN,2f944554-6386-0057-547f-e1313d2aaeb0,b2be3117-0405-3593-bc8d-bcfd277a3a2a,1191,RxNorm,Aspirin,allergy,medication,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
allergies = allergies[["PATIENT", "CODE", "DESCRIPTION", "ENCOUNTER"]]

In [ ]:
allergies["CODE_PATIENT"] = allergies["CODE"].astype(str) + allergies["PATIENT"]

In [ ]:
len(set(allergies["CODE_PATIENT"])) == allergies.shape[0]

True

In [ ]:
#allergies.to_csv(OUTPATH + "allergies.csv", index = False)

In [ ]:
allergies.to_csv(OUTPATH + "allergies.csv", mode = "a", index = False, header = False)

ENCOUNTERS

In [ ]:
encounters = pd.read_csv(S_PATH + "encounters.csv")

In [ ]:
len(set(encounters["Id"])) == encounters.shape[0]

True

In [ ]:
encounters = encounters[["Id","START","PATIENT","ORGANIZATION","DESCRIPTION", "CODE"]]

In [ ]:
dates = encounters.columns[1]
encounters[dates] = encounters[dates].apply(lambda x: x.replace("T", ""))
encounters[dates] = encounters[dates].apply(lambda x: x.replace("Z", ""))
encounters[dates] = pd.to_datetime(encounters[dates], format='%Y-%m-%d%H:%M:%S')

encounters = encounters.rename(columns = {"Id": "ID", "START": "DATE"})

<ipython-input-578-91691a14ebe2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encounters[dates] = encounters[dates].apply(lambda x: x.replace("T", ""))
<ipython-input-578-91691a14ebe2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encounters[dates] = encounters[dates].apply(lambda x: x.replace("Z", ""))
<ipython-input-578-91691a14ebe2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encounters[dates] = pd.to_datetime(encounters[dates], format='%Y-%m-%d%H:%M:%S')

In [ ]:
encounters[1:5]

,ID,DATE,PATIENT,ORGANIZATION,DESCRIPTION,CODE
1,84241c30-2501-8016-5ce2-bc8d61a67c73,2014-07-26 00:07:25,4ae0b461-7268-10c5-09f6-3360a8a103b3,f758f9ce-8bdd-3852-93fb-a2bb7c24d47a,Well child visit (procedure),410620009
2,cd4a8637-b30d-50a4-24e5-4214f1921840,2013-10-08 18:12:00,19ae0138-ad35-b22b-c3a2-a8302e245827,68a51433-604d-3847-9a51-78752e38162d,Well child visit (procedure),410620009
3,5c8344f3-9cf9-03d6-bd25-5a77a0a002ae,2014-08-30 00:07:25,4ae0b461-7268-10c5-09f6-3360a8a103b3,f758f9ce-8bdd-3852-93fb-a2bb7c24d47a,Well child visit (procedure),410620009
4,da377751-a2a8-2720-d970-ec306966eb63,2014-11-01 00:07:25,4ae0b461-7268-10c5-09f6-3360a8a103b3,f758f9ce-8bdd-3852-93fb-a2bb7c24d47a,Well child visit (procedure),410620009

In [ ]:
#encounters.to_csv(OUTPATH + "encounters.csv", index = False)

In [ ]:
encounters.to_csv(OUTPATH + "encounters.csv", mode = "a", index = False, header = False)

PEOPLE

In [ ]:
patients1 = pd.read_csv(S_PATH + "patients.csv")

In [ ]:
patients1[1:5]

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
1,4ae0b461-7268-10c5-09f6-3360a8a103b3,2014-07-26,NaN,999-59-3266,NaN,NaN,NaN,Cesar434,Marvin195,NaN,...,Trowbridge,Wiltshire,Trowbridge,NaN,BA14,51.291305,-2.192157,0.0,17200.44,24587
2,19ae0138-ad35-b22b-c3a2-a8302e245827,2004-10-05,NaN,999-76-8334,S99932886,NaN,Ms.,Jeane173,Haag279,NaN,...,Hook,Wiltshire,Hook,NaN,SN4,51.511728,-1.818377,0.0,54969.92,21201
3,cfae7f56-844c-9efe-e455-f2fb336552df,2016-10-10,NaN,999-34-7253,NaN,NaN,NaN,Tinisha932,Langworth352,NaN,...,Swindon,Wiltshire,Swindon,NaN,SN38,51.553969,-1.766442,0.0,38795.72,16469
4,2f944554-6386-0057-547f-e1313d2aaeb0,2016-02-26,NaN,999-51-7471,NaN,NaN,NaN,Terry864,Braun514,NaN,...,Calne,Wiltshire,Calne,NaN,SN11,51.445098,-2.042417,0.0,131232.07,20173

In [ ]:
patients1 = patients1[["Id", "BIRTHDATE", "FIRST", "LAST", "SSN"]]

birthdate = patients1.columns[1]
patients1[birthdate] = pd.to_datetime(patients1[birthdate], format='%Y-%m-%d')

In [ ]:
patients1 = patients1.rename(columns = {"Id":"ID"})

In [ ]:
#patients1.to_csv(OUTPATH + "patients1.csv", index = False)

In [ ]:
patients1.to_csv(OUTPATH + "patients1.csv", mode = "a", index = False, header = False)

ORGANIZATIONS

In [ ]:
organizations = pd.read_csv(S_PATH + "organizations.csv")

In [ ]:
organizations[1:5]

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON,PHONE,REVENUE,UTILIZATION
1,38d1a615-fe68-3902-a0e3-744f22c696ba,Salisbury District Hospital,NaN,Salisbury,Wiltshire,SP2 8,51.043318,-1.790490,NaN,0.0,282
2,19bcd85a-59cb-38fd-b655-5d0fab5f9cbb,Eldene Surgery,Collingsmead nan,Swindon,Wiltshire,SN1 1,51.555376,-1.737246,NaN,0.0,937
3,398f7c0f-db86-3385-8af4-01f71fda3905,Downton Surgery,NaN,Salisbury,Wiltshire,SP5 3,50.990607,-1.742571,NaN,0.0,20
4,32d62be9-e191-3c1a-81f5-eac31f75f277,Marlborough Medical Practice,George Lane nan,Marlborough,Wiltshire,SN8 1,51.417840,-1.730465,NaN,0.0,18

In [ ]:
organizations = organizations[["Id", "NAME", "ADDRESS", "CITY", "STATE", "ZIP", "PHONE"]]
organizations = organizations.rename(columns = {"Id":"ID"})

In [ ]:
#organizations.to_csv(OUTPATH + "buildings.csv", index = False)

In [ ]:
organizations.to_csv(OUTPATH + "buildings.csv", mode = "a", index = False, header = False)

PROVIDERS

In [ ]:
providers = pd.read_csv(S_PATH + "providers.csv")

In [ ]:
providers[1:5]

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
1,553d8f96-9a2c-3b90-bb99-13fc389fe5ac,38d1a615-fe68-3902-a0e3-744f22c696ba,Hellen346 Roberts511,F,GENERAL PRACTICE,NaN,Salisbury,Wiltshire,SP2 8,51.043318,-1.790490,282
2,6448004c-8c83-3bd3-9b8b-002502babf39,19bcd85a-59cb-38fd-b655-5d0fab5f9cbb,Agnes294 Dooley940,F,GENERAL PRACTICE,Collingsmead nan,Swindon,Wiltshire,SN1 1,51.555376,-1.737246,937
3,302b1a0d-954c-3f5c-8743-918c795aa0a7,398f7c0f-db86-3385-8af4-01f71fda3905,Jaquelyn689 Bernier607,F,GENERAL PRACTICE,NaN,Salisbury,Wiltshire,SP5 3,50.990607,-1.742571,20
4,d6c910fc-c30d-310b-992c-fdf465607b0c,32d62be9-e191-3c1a-81f5-eac31f75f277,Leonarda398 Schumm995,F,GENERAL PRACTICE,George Lane nan,Marlborough,Wiltshire,SN8 1,51.417840,-1.730465,18

In [ ]:
providers = providers[["Id","ORGANIZATION","SPECIALITY", "NAME", "GENDER"]]
providers = providers.rename(columns = {"Id":"ID"})

In [ ]:
providers[["FIRST", "LAST"]] = providers["NAME"].apply(lambda x: pd.Series(str(x).split(" ")))

In [ ]:
providers = providers.drop("NAME", axis = 1)

In [ ]:
#providers.to_csv(OUTPATH + "doctors.csv", index = False)

In [ ]:
providers.to_csv(OUTPATH + "doctors.csv", mode = "a", index = False, header = False)

# **EMBORG datasets**

Processed datasets:

1.    lab tests
2.    diagnoses
3.    patients

In [4]:
E_PATH = "/content/drive/MyDrive/KGE_project/EMBORG/"

LAB TESTS

In [18]:
lab = pd.read_csv(E_PATH + "LabsCorePopulatedTable.txt", sep = "\t")

In [38]:
lab[1:5]

,PATIENT,LABTEST,VALUE,UNIT,DATE,PATIENT_DATE
1,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52,1A8791E3-A61C-455A-8DEE-763EB90C9B2C1992-06-30...
2,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,CBC: MCH,35.8,pg,1992-06-30 03:50:11,1A8791E3-A61C-455A-8DEE-763EB90C9B2C1992-06-30...
3,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46,1A8791E3-A61C-455A-8DEE-763EB90C9B2C1992-06-30...
4,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08,1A8791E3-A61C-455A-8DEE-763EB90C9B2C1992-07-01...

In [23]:
dates = lab.columns[-1]
lab.loc[:,dates] = lab.loc[:,dates].str.replace(":", "-")
lab.loc[:,dates] = lab.loc[:,dates].str.split(".").str[0]

Keep only two units for the seconds values.

In [25]:
lab = lab[['PatientID', 'LabName', 'LabValue', 'LabUnits', 'LabDateTime']]

lab.loc[:,dates] = pd.to_datetime(lab[dates], format='%Y-%m-%d %H-%M-%S')

lab.columns = ["PATIENT", "LABTEST", "VALUE", "UNIT", "DATE"]

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [37]:
lab["PATIENT_DATE"] = lab["PATIENT"] + lab["DATE"].astype(str) + lab["LABTEST"]

In [39]:
lab.shape[0] == len(set(lab["PATIENT_DATE"]))

111483

In [43]:
lab.to_csv(OUTPATH + 'labtest.csv', index = False)

DIAGNOSES

In [ ]:
diagnoses = pd.read_csv(E_PATH + "AdmissionsDiagnosesCorePopulatedTable.txt", sep = "\t")

In [ ]:
diagnoses[1:5]

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription
1,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,3,D65,Disseminated intravascular coagulation [defibr...
2,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,4,C92.1,"Chronic myeloid leukemia, BCR/ABL-positive"
3,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,5,M05.51,Rheumatoid polyneuropathy with rheumatoid arth...
4,6A57AC0C-57F3-4C19-98A1-51135EFBC4FF,1,C91.00,Acute lymphoblastic leukemia not having achiev...

In [ ]:
diagnoses = diagnoses[['PatientID', 'PrimaryDiagnosisCode', 'PrimaryDiagnosisDescription']]
diagnoses.columns = ["PATIENT","CODE","DESCRIPTION"]

In [ ]:
diagnoses["PATIENT_CODE"] = diagnoses["PATIENT"] + diagnoses["CODE"]

In [ ]:
len(set(diagnoses["PATIENT_CODE"])) == diagnoses.shape[0]

True

In [ ]:
diagnoses.to_csv(OUTPATH + "diagnoses.csv", index = False)

PATIENTS

In [ ]:
patients = pd.read_csv(E_PATH + "PatientCorePopulatedTable.txt", sep = "\t")

In [ ]:
patients[1:5]

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
1,64182B95-EB72-4E2B-BE77-8050B71498CE,Male,1952-01-18 19:51:12.917,African American,Separated,English,13.03
2,DB22A4D9-7E4D-485C-916A-9CD1386507FB,Female,1970-07-25 13:04:20.717,Asian,Married,English,6.67
3,6E70D84D-C75F-477C-BC37-9177C3698C66,Male,1979-01-04 05:45:29.580,White,Married,English,16.09
4,C8556CC0-32FC-4CA5-A8CD-9CCF38816167,Female,1921-04-11 11:39:49.197,White,Married,English,18.20

In [ ]:
patients = patients[["PatientID", "PatientGender", "PatientDateOfBirth"]]
patients.columns = ["ID","GENDER","BIRTHDATE"]

dates = patients.columns[2]
patients[dates] = pd.to_datetime(patients[dates], format='%Y-%m-%d %H:%M:%S')

In [ ]:
patients.to_csv(OUTPATH + "patients2.csv", index = False)

# **Datasets merge**

Merge the patients' information datasets to obtain a unique file from the two different data sources.

In [3]:
random.seed(1234)

In [ ]:
patients_synthea = pd.read_csv(OUTPATH + "patients1.csv")
patients_emborg = pd.read_csv(OUTPATH + "patients2.csv")

In [ ]:
patients_unique = pd.merge(patients_synthea, patients_emborg, how="outer")

In [ ]:
patients_unique[1:5]

,ID,BIRTHDATE,FIRST,LAST,SSN,GENDER
1,6abe2943-f192-c36f-afba-24ddbc85ce33,2020-12-23,Ceola914,O'Keefe54,999-49-2168,NaN
2,577cc74d-0429-c83a-9e49-82a0e1ef1d59,2006-08-29,Rufus33,Pollich983,999-31-5737,NaN
3,b6c2e812-180a-9a09-c02a-5f72c4ed23e4,1992-02-14,Johnson679,Littel644,999-50-2162,NaN
4,06405c95-0f03-0a00-afa8-292824bde388,2019-09-30,Autumn454,Hermiston71,999-69-2632,NaN

Generate random values for the gender, as the data coming fro synthea does not have this record. I chose to do so as the number of missing values is too high compared to the total number of occurences (1192/2092).

In [ ]:
gender = ["F","M"]
GENDER = random.choices(gender, k = patients_synthea.shape[0])

patients_unique["GENDER"].loc[:patients_synthea.shape[0] - 1 ] = GENDER

In [ ]:
patients_unique["GENDER"] = patients_unique["GENDER"].replace({"Male":"M", "Female":"F"})

In [ ]:
patients_unique.to_csv(OUTPATH + "patients.csv", index = False)

Create a single file with people's general information, adding a column that specifies whether the occurrence belongs to a patient or to a doctor; if the latter, specify its specializationa and organization he/she work for (hospital ID).

In [ ]:
patients = pd.read_csv(OUTPATH + "patients.csv")
doctors = pd.read_csv(OUTPATH + "doctors.csv")

In [ ]:
patients[-5:-1]

,ID,BIRTHDATE,FIRST,LAST,SSN,GENDER
2429,135C831F-7DA5-46C0-959C-EBCBD8810B43,1971-05-13 04:40:05.623,NaN,NaN,NaN,M
2430,8856096E-E59C-4156-A767-C091AF799C80,1988-11-25 02:59:36.373,NaN,NaN,NaN,F
2431,6623F5D6-D581-4268-9F9B-21612FBBF7B5,1943-02-17 15:36:13.787,NaN,NaN,NaN,F
2432,65A7FBE0-EA9F-49E9-9824-D8F3AD98DAC0,1962-11-30 06:28:33.110,NaN,NaN,NaN,F

In [ ]:
doctors[1:5]

,ID,ORGANIZATION,SPECIALITY,GENDER,FIRST,LAST
1,00ece5d4-66a6-376b-bf8d-581b3840bc4b,d85eda67-3730-3a71-929c-9275b1d4922e,GENERAL PRACTICE,M,Willian804,Batz141
2,56d26104-f11a-3bde-b697-7d005b7a573a,ed1cde35-f418-33de-88b6-1df8aa5203be,GENERAL PRACTICE,M,Marcus77,Schamberger479
3,0a517aa7-195f-3db5-baeb-47531628d8e5,3d1f360b-b11c-325d-a02c-05a6b0303dcc,GENERAL PRACTICE,F,Chanell45,Robel940
4,63414a27-d55d-310e-941d-8e1cac1e07a3,730eff12-093d-3398-bbdd-5d6e43ec5317,GENERAL PRACTICE,M,Guillermo498,Fay398

In [ ]:
patients["ROLE"] = pd.Series(["PATIENT" for x in range(len(patients.index))])

In [ ]:
doctors["ROLE"] = pd.Series(["DOCTOR" for x in range(len(doctors.index))])

In [ ]:
people = pd.merge(patients, doctors, how = "outer")

In [ ]:
people[-5:-1]

,ID,BIRTHDATE,FIRST,LAST,SSN,GENDER,ROLE,ORGANIZATION,SPECIALITY
3375,e971f288-6515-3f40-812c-a9be1e2226d9,NaN,Chanell45,Robel940,NaN,F,DOCTOR,88f9399f-f16e-3751-8e2a-5f2f0cca1d3b,GENERAL PRACTICE
3376,6474194b-cf60-36d8-b8d6-36fa1752a752,NaN,Jeromy156,Okuneva707,NaN,M,DOCTOR,884e9eb7-75ac-3ca1-be70-80bb8edd81eb,GENERAL PRACTICE
3377,1b72b4fb-d98d-35f7-9ce7-cd6f5a6c53d0,NaN,Rod343,Frami345,NaN,M,DOCTOR,d729281e-84c9-35e1-b439-24490036d0b6,GENERAL PRACTICE
3378,a808f3b3-6f46-3ff3-bd3b-c7239b7d666a,NaN,Kristopher775,Crooks415,NaN,M,DOCTOR,09198bea-2c7c-3878-8662-c6ac09024f32,GENERAL PRACTICE

In [ ]:
people.to_csv(OUTPATH + "people.csv", index = False)